@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.card-landing {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 1vh 2vh black;
    background: linear-gradient(transparent, 80%, black), ;
    background-size: cover;
    background-position: center;
    z-index: 100;
}

.close-btn {
    position: absolute;
    top: 0.5vh;
    right: 0.5vh;
    background: rgb(0, 0, 0);
    border: none;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5vh 1vh;
    border-radius: 100%;
    color: red;
}

.date-container {
    display: flex;
    align-items: center;
    gap: 1vh;
    font-size: 18px;
}

.date {
    display: flex;
    width: 13vh;
    height: 1vh;
}

.head input {
    border: none;
    padding: 0.3vh;
    font-size: 1.6vh;
}

.name-recipe {
    font-weight: bold;
    width: 23vh;
}

.description input {
    height: 1.2vh;
}

.description .time {
    width: 4.5vh;
    ;
}

.item input {
    width: 6vh;
    border: none;
    border-bottom: 0.2vh solid #af9475;
    font-size: 1.4vh;
}

.content {
    margin-top: 1.5vh;
}

.ingredient {
    border: none;
    border-bottom: 0.2vh solid #af9475;
    padding: 0.4vh;
    font-size: 1.5vh;
    width: 25vh;
}