h1 {
    padding-top: 2vh;
    font-size: 8vh;
}

h2 {
    font-size: 3vh;
    color: #af9475;
}

.contenedor {
    display: grid;
    grid-template-rows: 12vh 73vh 15vh;
    grid-template-areas:
        "superior"
        "principal"
        "pie";
}


.superior {
    grid-area: superior;
}

.principal {
    grid-area: principal;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    grid-template-areas:
        "registro cocinero";
}

.pie {
    grid-area: pie;
}

.titulo {
    grid-area: titulo;
    text-align: center;
    font-size: 8vh;
    color: #d15858;
    text-shadow: 4px 3px 0 #8B5E3C, 6px 4px 0 #F5E3C4
}

.registro {
    grid-area: registro;
    text-align: center;
    /*he tenido que poner la imagen en una carpeta dentro de Styles porque desde public no la coge*/
    background-image: url("./imagesS/formulario.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70vh;
    margin-bottom: 12vh;
}

.titulo-registro {
    margin-top: 22vh;
    font-size: 2.5vh;
    text-shadow: 2px 1px #8B5E3C, 3px 3px#F5E3C4;
}

input {
    margin-top: 1vh;
    height: 2vh;
    width: 30vh;
    padding: 1.5vh 1.8vh;
    background: #f4ecd8;
    border: 0.25vh solid #c2a77d;
    border-radius: 0.8vh;
    outline: none;
    font-size: 2vh;
    font-family: "Times New Roman";
    box-shadow:
        0 0 1.2vh rgba(0, 0, 0, 0.15),
        inset 0 0 2vh rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

input:hover {
    background: #efe2c4;
    transform: translateY(-0.3vh);
    box-shadow:
        0 0.5vh 2vh rgba(0, 0, 0, 0.25);
}

.env {
    margin-top: 1vh;
    padding: 1.5vh 2.5vh;
    height: 5vh;
    font-size: 2vh;
    font-family: "Times New Roman";
    background: #f4ecd8;
    border: 0.25vh solid #c2a77d;
    border-radius: 0.8vh;
    box-shadow:
        0 0 1.2vh rgba(0, 0, 0, 0.15),
        inset 0 0 2vh rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    margin-left: 42%;
    color: gray;
}

.cocinero {
    border: solid black 3px;
    box-shadow: 4px 4px 0px #000000;
    margin-top: 20vh;
    grid-area: cocinero;
    background-color: white;
    width: 45vh;
    height: 32vh;
    margin-left: 5%;
    margin-bottom: 20vh;
    padding: 1.5vh;
    display: grid;
    grid-template-columns: 33% 39% 27%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "nom corr con"
        "per coc env";
}

.gif-personaje {
    grid-area: per;
    width: 18vh;
    margin-top: 1vh;
}

.cocina {
    grid-area: coc;
    width: 18vh;
    margin-top: 2vh;
    margin-left: 10vh;
}

.nom {
    margin-left: 1vh;
    grid-area: nom;
    margin-top: 1vh;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vh;
}

.nom strong {
    font-size: 1.7vh;
}

.corr {
    grid-area: corr;
    margin-top: 1vh;
    font-weight: bold;
    font-size: 2.5vh;
}

.con {
    grid-area: con;
    margin-top: 1vh;
    font-weight: bold;
    font-size: 2.5vh;
}


.env:hover {
    background: #efe2c4;
    transform: translateY(-0.3vh);
    box-shadow:
        0 0.5vh 2vh rgba(0, 0, 0, 0.25);
}

.cocinero .env {
    margin-left: -3vh;
    grid-area: env;
    margin-top: 20vh;
    width: 13vh;
    height: 3.5vh;
    font-size: 1.6vh;
    background: whitesmoke;
    border: 0.25vh solid burlywood;
}

.verde {
    font-size: 1.5vh;
    background-color: green
}

.rojo {
    font-size: 1.5vh;
    background-color: red;
}

.pie {
    grid-area: pie;
    background-color: rgba(139, 94, 60, 0.8);
    color: #FFF8F0;
    text-align: center;
    padding: 1vh;
    font-size: 2vh;
    font-family: 'Segoe UI';
}

a {
    text-decoration: none;
}

.pie p {
    margin: 0.6vh;
}