* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f6f7;
  background-image: url("/public/images/fondo-mantel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}